<div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 nav-side-bar">
            <div class="dashBoard" ng-click="backToDashBoard()">Sales Dashboard</div>
            <div class="servicing">Servicing</div>
            <div class="claims">Claims</div>
            <div class="products">Products</div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card quote">
                                <div class="card-block plg">
                                	<div class="row">
                                        <div class="gray"> <!--&lt; <a ng-click="backToDashBoard()">Back to Dashboard</a>--><img src="images/info.png" class="info"/></div>
                                        <div class="text-center"> <h4 class="bluebold">Your Cart</h4></div> 
								                  </div>
 
                                    <div class="mt mb quote-bg">
                                    	<div class="cart-scroll">
                                            <div class="quote-div" ng-class="{hidden: quote1_val == false}">
                                                <label>
                                                	<input type="checkbox" checked><span class="chk-lable">Quote 1</span>
                                                </label>
                                                <table class="table ctable">
                                                    <thead>
                                                          <tr>
                                                            <th class="w30">Products</th>
                                                            <th class="w40 tbl-gray-head">Select</th>
                                                            <th class="w40 tbl-gray-head">Advantage</th>
                                                          </tr>
                                                        </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td class="tbl-right blue-normal">Group Dental</td>
                                                        <td class="tbl-right">
                                                            <div><strong>Coinsurance:</strong></div>
                                                            <div>100/80/50</div>
                                                            <div><strong>In and Out Deductible:</strong></div>
                                                            <div>$50</div>
                                                            <div><strong>Ortho:</strong> No</div>
                                                        </td>
                                                        <td>
                                                            <div><strong>Coinsurance:</strong></div>
                                                            <div>100/80/50</div>
                                                            <div><strong>In and Out Deductible:</strong></div>
                                                            <div>$50</div>
                                                            <div><strong>Ortho:</strong> Yes</div>  
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class="tbl-right tbl-bottom-left"></td>
                                                        <td class="bluebold tbl-right tbl-top">
                                                            $300
                                                        </td>
                                                        <td class="bluebold tbl-top tbl-bottom-right">  
                                                            $400
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                
                                                </table>
                                                
                                                <table class="table ctable">
                                                    <thead>
                                                          <tr>
                                                            <th class="w30">Products</th>
                                                            <th class="w40 tbl-gray-head">Plan 1</th>
                                                            <th class="w40 tbl-gray-head">Plan 2</th>
                                                          </tr>
                                                        </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td class="tbl-right blue-normal">Basic Life</td>
                                                        <td class="tbl-right">
                                                            Flat $50000
                                                        </td>
                                                        <td>
                                                            Flat $40000
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class="tbl-right blue-normal tbl-top">Optional Life</td>
                                                        <td class="tbl-right tbl-top">
                                                            Increment of $10000 to a max of $500000
                                                        </td>
                                                        <td class="tbl-top">
                                                            2 x Salary
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class="tbl-right tbl-bottom-left tbl-top"></td>
                                                        <td class="bluebold tbl-right tbl-top">
                                                            $3000
                                                        </td>
                                                        <td class="bluebold tbl-top tbl-bottom-right">  
                                                            $2000
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                
                                                </table>
                                            </div>    
                                            <div class="quote-div" ng-class="{hidden: quote2_val == false}">
                                                <label>
                                                	<input type="checkbox" checked><span class="chk-lable">Quote 2</span>
                                                </label>
                                                <table class="table ctable">
                                                    <thead>
                                                          <tr>
                                                            <th class="w30">Products</th>
                                                            <th class="w40 tbl-gray-head">Select</th>
                                                            <th class="w40 tbl-gray-head">Advantage</th>
                                                          </tr>
                                                        </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td class="tbl-right blue-normal">Group Dental</td>
                                                        <td class="tbl-right">
                                                            <div><strong>Coinsurance:</strong></div>
                                                            <div>100/90/60</div>
                                                            <div><strong>In and Out Deductible:</strong></div>
                                                            <div>$50</div>
                                                            <div><strong>Ortho:</strong> No</div>
                                                        </td>
                                                        <td>
                                                            <div><strong>Coinsurance:</strong></div>
                                                            <div>100/90/60</div>
                                                            <div><strong>In and Out Deductible:</strong></div>
                                                            <div>$50</div>
                                                            <div><strong>Ortho:</strong> Yes</div>  
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class="tbl-right tbl-bottom-left"></td>
                                                        <td class="bluebold tbl-right tbl-top">
                                                            $300
                                                        </td>
                                                        <td class="bluebold tbl-top tbl-bottom-right">  
                                                            $400
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                
                                                </table>
                                                
                                                <table class="table ctable">
                                                    <thead>
                                                          <tr>
                                                            <th class="w30">Products</th>
                                                            <th class="w40 tbl-gray-head">Plan 1</th>
                                                            <th class="w40 tbl-gray-head">Plan 2</th>
                                                          </tr>
                                                        </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td class="tbl-right blue-normal">Basic Life</td>
                                                        <td class="tbl-right">
                                                            Flat $100000
                                                        </td>
                                                        <td>
                                                            Flat $50000
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class="tbl-right blue-normal tbl-top">Optional Life</td>
                                                        <td class="tbl-right tbl-top">
                                                            Increment of $10000 to a max of $500000
                                                        </td>
                                                        <td class="tbl-top">
                                                            5 x Salary
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class="tbl-right tbl-bottom-left tbl-top"></td>
                                                        <td class="bluebold tbl-right tbl-top">
                                                            $3000
                                                        </td>
                                                        <td class="bluebold tbl-top tbl-bottom-right">  
                                                            $2000
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                
                                                </table>
                                            </div>
                                            <div class="quote-div" ng-class="{hidden: quote3_val == false}">    
                                                <label>
                                                	<input type="checkbox" checked><span class="chk-lable">Quote 3</span>
                                                </label>
                                                <table class="table ctable">
                                                    <thead>
                                                          <tr>
                                                            <th class="w30">Products</th>
                                                            <th class="w40 tbl-gray-head">Select</th>
                                                            <th class="w40 tbl-gray-head">Advantage</th>
                                                          </tr>
                                                        </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td class="tbl-right blue-normal">Group Dental</td>
                                                        <td class="tbl-right">
                                                            <div><strong>Coinsurance:</strong></div>
                                                            <div>100/90/60</div>
                                                            <div><strong>In and Out Deductible:</strong></div>
                                                            <div>$50</div>
                                                            <div><strong>Ortho:</strong> No</div>
                                                        </td>
                                                        <td>
                                                            <div><strong>Coinsurance:</strong></div>
                                                            <div>100/90/60</div>
                                                            <div><strong>In and Out Deductible:</strong></div>
                                                            <div>$50</div>
                                                            <div><strong>Ortho:</strong> Yes</div>  
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class="tbl-right tbl-bottom-left"></td>
                                                        <td class="bluebold tbl-right tbl-top">
                                                            $300
                                                        </td>
                                                        <td class="bluebold tbl-top tbl-bottom-right">  
                                                            $400
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                
                                                </table>
                                                
                                                <table class="table ctable">
                                                    <thead>
                                                          <tr>
                                                            <th class="w30">Products</th>
                                                            <th class="w40 tbl-gray-head">Plan 1</th>
                                                            <th class="w40 tbl-gray-head">Plan 2</th>
                                                          </tr>
                                                        </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td class="tbl-right blue-normal">Basic Life</td>
                                                        <td class="tbl-right">
                                                            Flat $100000
                                                        </td>
                                                        <td>
                                                            Flat $50000
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class="tbl-right blue-normal tbl-top">Optional Life</td>
                                                        <td class="tbl-right tbl-top">
                                                            Increment of $10000 to a max of $500000
                                                        </td>
                                                        <td class="tbl-top">
                                                            5 x Salary
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class="tbl-right tbl-bottom-left tbl-top"></td>
                                                        <td class="bluebold tbl-right tbl-top">
                                                            $3000
                                                        </td>
                                                        <td class="bluebold tbl-top tbl-bottom-right">  
                                                            $2000
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                
                                                </table>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p"></div>
                                    <div class="fw btnbar">
                                        <button type="button" class="btn mr gray-btn">View</button>
                                        <button type="button" class="btn mr gray-btn">Edit</button>
                                        <button type="button" class="btn del-btn">Delete</button>
                                        <button type="button" class="btn green-btn pull-right">Generate Quote</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right-block">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img src="images/Slide-14-right-rail.png" class="right-sec"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
